@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    

}

#author 
{
    color: rgb(57, 155, 247);
}

#container
{
    display: flex;
    width: 100vw;
    flex-direction: column;
    overflow-y: hidden;
}

.header
{
    display: flex;
    flex-direction: row;
    
    width: 100vw;


}
nav
{
    display: flex;
    flex-direction: row;
    
}
.nav-bar
{
    width:100vw;
    display: flex;
    list-style: none;
    padding-top: 0.5rem;
    justify-content:space-evenly;
    align-items: center;
    height: 5rem;
    
    
    
}

.nav-bar,a 
{
    text-decoration: none;
    color: black;
    

}



.subscribe 
{
   
    padding: 0 0.2rem;
    font-size: 1.2rem;
    opacity: 0.7;
    margin-left: -15rem;
}

.heading
{
    font-size: 1.8rem;
    font-weight: 600;
   
    width: 20rem;
    margin-left: 1.9rem;
    padding-left: 6rem;
}

li,input 
{
    border:none;
    background:transparent;
    margin: 0;
    padding: 7px 5px;
    font-size: 12px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;

    
}
.input 
{
    
    margin-right: -17rem;
}



.search-btn
{
  
    text-indent: -999px;
    overflow: hidden;
   width: 40px;
   padding: 0;
   margin: 0;
   border: 1px solid transparent;
   border-radius: inherit;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
   cursor: pointer;
   opacity: 0.7;
}
.search-btn:hover 
{
    opacity: 1;
}
.post
{
    border: 1px solid grey;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
    color: green;
    width: 2rem;
   
}


.categories-body
{  
    border-top: 1.5px solid grey;
    display: flex;
    flex-direction: row;
    
    padding: 1.2rem 0;

}
.categories , a 
{
    text-decoration: none;
    
}

li
{
    list-style: none;
    padding: 1.5rem 0.5rem;
    font-size: 1.2rem;
    opacity: 0.8;
    color: grey;
    
    

}

 .categories
{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.featured-body
{
    background-color:rgba(0, 0, 0, 0.9);
    height: 18rem;
    
    color: white;
    font-family: 'Dancing Script', cursive;
    padding: 2.5rem;
}
.featured-title
{
    font-size: 3.5rem;
    padding-left: 0.9rem;

}
.featured-about 
{
    font: 3rem;

    padding-left: 3.5rem;
}
.featured-post 
{
    font-size: 1.8rem;
    font-weight: 100;

}
.featured-post a 
{
    text-decoration: none;
    color: rgb(67, 148, 240);
}

.featured-card 
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: 20rem;
    

}

.featured-post-card1
{
   width: 45rem;
   border: 0.1rem solid grey;
   border-radius: 12px;
   display: flex;
   padding:1.5rem;
   height: 18rem;
   justify-content: space-around;

   height: fit-content;
}

.post-card
{
   display: flex;
   flex-direction: column;
   width: 60%;
   
   padding: 0.9rem 0.8rem;

}
.post-card > a 
{
    color: blue;
    margin-top: 0.1rem;
}
.post-card > a:hover 
{
    color: rgb(14, 199, 33);
    margin-top: 0.1rem;
}
.post-card-link
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(32, 99, 215);
    font-family: cursive;
}

.post-card > h3

{
    font-size: 2rem;
    font-family: cursive;
    
}

.post-card,p
{
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.7;
}
.post-img
{
    width: 12rem;
    height: 12rem;
    
  display: flex;
  justify-content: center;
  align-items: center;

}

.post-picture
{
    width: 10rem;
    height: 10rem;
}

.content 
{
    display: flex;
    width: 100vw;
    height:fit-content;
    margin-top: 5rem;

    


}
.content-left 
{
    width: 65vw;
   padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    
    
}
.content-left-post ,li
{
    color: black;
   
    margin-left: 1rem;
    padding: 0;

}


.content-left,p 
{
    font-weight: 300;
    padding: 0.5rem 0;
}

h2 
{
    padding: 0.2rem 0;
}
h3
{
    padding: 0.5rem 0;
}

.head-left 
{
    font-size: 2rem;
    font-family: cursive;
    

    border-bottom: 1.5px solid black;
}
.content-left-title 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 1.3rem;
    gap: 0.7rem;
}
.content-left-title>h2 
{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: 600;

}
.unlist > li 
{
    
    list-style-type: disc;
    margin-left: 2.5rem;
}

ol > li 
{
    list-style-type: decimal;
    margin-left: 2.5rem;
}


.another-post 
{
    margin-top:2rem;

}


.content-right 
{
    width: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;


}


.about 
{
    width: 15rem;
    background-color: rgb(183, 180, 180);
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    word-spacing: 0.2rem;
    margin-left: -18rem;
    


}

.archives-main 
{
    display: flex;
    flex-direction: column;
    width: 100%;



}

.archives 
{
    display: flex;
    align-items: center;
}

.archieve-list > li > a 
{
   font-weight: 400;
   font-size: 0.9rem;
   color: rgb(51, 158, 245);
}

.new-feature 
{
    margin-top: 2rem;
}
.new-feature-post > li 
{
    list-style-type: disc;
    background-color: red;
}
.new-feature-btn > button 
{
    width: 3.2rem;
    height: 1.9rem;
    padding: 0.3rem 0.3rem ;
    border: none;background-color: transparent;
    border: 0.1rem solid rgb(109, 182, 237);
    border-radius: 12px;
    color: rgb(109, 182, 237);
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 2rem;


}

#footer
{
      background-color: black;
      color: white;
      height: 25vh;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 100vw;
}






@media  screen and (max-width:400px) {
 
  

.header 
{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
}
.nav-bar
{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
height: 15rem;

}

.heading 
{

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -5rem;
    

}

.heads
{
    
    font-size: 2rem;
}


.input
{
    
    width: 3rem;
    position: relative;
    left: -5rem;
}
.input-text 
{
    
    width: 7rem;
}

.search-btn 
{

    position: relative;
    left:-4.5rem
}

.post 
{ 
    position: relative;
    left: -4.5rem;
}






.categories
{
    display: flex;
    flex-direction: column;
  
}


.category
{
    
    font-size: 0.9rem;
    padding-top: -1.2rem;

     
}


.featured-body
{
width: 100%;
height: 100%;
padding: 0.8rem 0.2rem;
background-color: black;


}

.featured-title
{
    font-size: 2.5rem;
    
}
.featured-about
{
    font-size: 1.5rem;
}

.featured-post
{
    font-size: 1.5rem;
}

.featured-card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

   
    
}
.featured-post-card1
{

    width: 22rem;
    height:13rem;
    display: flex;
    flex-direction: column;
  
  scale: 0.8;
    
}

.post-card 
{
    width: fit-content;
    height: 18rem;
}

.post-title
{ 
  font-size: 1.2rem;  
  font-weight: 200;
  letter-spacing: 0.2px;

}
.post-picture
{

   scale: 0.5;

}

.post-img 
{

    display: flex;
    width: 15rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;


    

}

.content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-left 
{
    
    width: 90vw;
}

.content-right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

}



/* Media Querry for 1240px */

@media screen and (max-width:1240px)
{

  .header 
  {

    display: flex;
    width: 100vw;
  
  }

  .nav-bar 
  {
    display: flex;

  align-items: center;
  justify-content:space-evenly;
  
  }

  .input 
  {
   
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 5rem;
  }

  .search-btn
  {
   
    height: 2rem;
    margin-top: -1.8rem;
    margin-left: 9rem;
  }

  .post 
  {
    width: 5rem;
    text-align: center;
    margin-left: 6.5rem;
  }


    .featured-card
    {
        display: flex;
        gap: 3rem;
        height: 100vh;
    }
    .featured-post-card1
    {
        height: 25rem;

    }
    

    .content 
    {

        display: flex;

        
    }

    .content-right
    {
        
        margin: 0 0.5rem;
    }

    #footer
    {
        width:99.5vw;
    }
}